.body-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: white;
  font-size: 3rem;
  text-align: left;
}
h1 span {
  color: rgb(4, 0, 255);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-section {
  max-width: 1200px;
  text-align: justify;
  padding: 40px;
}
.text-section p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.image-grid img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.event-boxes {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; /* Space between columns */
  margin-top: 20px; /* Space above the boxes */
}

.event-box {
  background-color: #222; /* Background color for the boxes */
  padding: 20px; /* Padding inside the boxes */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  text-align: center; /* Center the text */
}

.event-box img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for images */
}

.event-box h2 {
  color: white; /* Title color */
  font-size: 24px; /* Title font size */
  margin-bottom: 10px; /* Space below the title */
}
.past-event-images {
  position: relative;
  overflow: hidden; /* Hide images outside the container */
}

.event-image {
  display: none; /* Hide all images initially */
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for images */
  opacity: 0;
  transition: opacity 2s ease;
}

.event-image.active {
  display: block; /* Show the active image */
  opacity: 1;
}

.description {
  display: none; /* Hide all descriptions initially */
}

.description.active {
  display: block; /* Show the active description */
}
.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(4, 0, 255); /* Active color */
}

/* responsivenes */

@media screen and (max-width: 769px) {
  .body-container {
    padding: 60px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .text-section p {
    font-size: 0.8rem;
  }

  .event-boxes {
    justify-items: center;
    gap: 0;
  }

  .event-box {
    width: 80%;
  }

  .latest-events h2 {
    font-size: 1.1rem;
  }

  .past-events h2 {
    font-size: 1.1rem;
  }

  .dot {
    height: 8px;
    width: 8px;
  }
}

@media screen and (max-width: 426px) {
  .body-container {
    padding: 40px;
  }

  h1 {
    font-size: 1.4rem;
  }

  .text-section {
    padding: 20px;
  }

  .text-section p {
    font-size: 0.7rem;
  }

  .event-boxes {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .event-box {
    width: 80%;
  }

  .latest-events h2 {
    font-size: 0.9rem;
  }

  .past-events h2 {
    font-size: 0.9rem;
  }

  .dot {
    height: 6px;
    width: 6px;
  }
}
